.border{
    width: 1px;
    height: 1px;
    border-top: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid tomato;
}
.border_tip{
    background-color: #7768ff;
    position: relative;
    left: 50%;
    top: 100px;
    width: 400px;
    transform: translateX(calc(-400px / 2));
}
.border_tip::before{
    content: '';
    position: absolute;
    border-top: 10px solid #7768ff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -10px;
    left: 50%;
    transform: translateX(calc(-20px / 2));
    margin-left: -10px;
    /* 양쪽으로 10씩 들어가서 20px!!! */
}
.border_tip::after{
    content: '';
    position: absolute;
    border-bottom: 10px solid #ff6d68;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -10px;
    left: 50%;
    transform: translateX(calc(-20px / 2));
    margin-left: -10px;
    /* 양쪽으로 10씩 들어가서 20px!!! */
}
.left{
    position: absolute;
    border-right: 10px solid rgb(0, 255, 76);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    margin-top: -10px;
    left: -10px;
}
.right{
    content: '';
    border-left: 10px solid red;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -10px;
}
/* .speech_bubble{
    background-color: lightgray;
    padding: 80px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    width: 300px;
    top: 100px;
}
.speech_bubble::before{
    content: '';
    width: 50px;
    height: 50px;
    
    position: absolute;
    border-right: 40px solid lightgrey;
    border-left: 40px solid transparent;
    border-radius: 50%;
    bottom: -10px;
    left: -10px;
} */
/* .speech_bubble2{
    background-color: #9890dd;
    position: relative;
    top: 200px;
    padding: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 20px;
} */
.speech_bubble3{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}