@charset "UTF-8";
@font-face {
    font-family: 'gmarket';
    src: url(./GmarketSansTTF/GmarketSansTTFLight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'gmarket';
    src: url(./GmarketSansTTF/GmarketSansTTFMedium.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'gmarket';
    src: url(./GmarketSansTTF/GmarketSansTTFBold.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'peace';
    src: url(./peaceTTF/PyeongChangPeace-Light.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'peace';
    src: url(./peaceTTF/PyeongChangPeace-Bold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'inso';
    src: url(./inTTF/인천교육소통.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'insi';
    src: url(./inTTF/인천교육시민.ttf);
    font-weight: 700;
}
.insi{
    font-family: insi;
}