.container{
    width: 80%;
    height: 120px;
    display: flex;
    align-items: center;
}
.box{
    width: 60px;
    height: 60px;
    margin: 5px;
}
/* flex : flex-grow | flex-shrink | flex-basis */
/*         확대비율      축소비율      기본크기 */
#box1{
    /* 단위 안쓰면 grow, shrink 할당 */
    /* 디폴트가 1 */
    flex: 1;
}
#box2{
    /* 단위쓰면 basis */
    flex: 30px;
}
#box3{
    /* grow 2, shrink 3 */
    flex: 2 3;
}
#box4{
    /* grow 1 shrink 1 basis 40px */
    flex: 1 40px;
}
#box5{
    /* grow 2 shrink 2 basis 0 */
    flex: 2 2 0;
}