@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li,ol,dt,dd,dl{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
}
a:link, a:visited{
    color: #333;
}
img{
    border: 0;
    vertical-align: top;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
}

/* 상단메뉴바 */
nav{
    position: relative;
    width: 100%;
    height: 9.4rem;
    background-color: #ffffff;
    z-index: 2;
}
nav>.gnb{
    display: flex;
}
nav>.gnb li{
    margin: 0 3.8rem;
}
nav>.gnb li.logo{
    width: 18rem;
    margin: 0 0 0 2.5rem;
}
nav>.gnb li.logo a{
    display: block;
    background: url(./images/freesamLogo.jpg) no-repeat center center/18rem;
    text-indent: -9999999px;
    overflow: hidden;
    font-size: 0;
}
nav>.gnb li>a{
    display: block;
    line-height: 9.4rem;
    font-weight: bold;
}
nav>.gnb li a:hover{
    color: tomato;
}
nav>.gnb>li .menu_title img{
    width: 135px;
}
/* 투뎁스 레이아웃 */
.gnb .dep1 ul{
    display: flex;
}
.gnb .dep1 li{
    flex: 0 1 20rem;
    margin: 0;
    border-left: 1px solid #e9e9e9;
    padding-left: 2rem;
}
.gnb .dep1 li h2{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: tomato;
    padding-top: 0.2rem;
}
.gnb .dep1 li dl dt a{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.8;
}
.gnb .dep1 li h3 a{
    color: #097a84;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 0.3rem;
}
.gnb .dep1 li dd a{
    color: #097a84;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1.7;
}

/* depth2 배경 */

nav .gnb_bg{
    position: absolute;
    background: #fbfbff;
    top: 9.4rem;
    left: 0;
    width: 100%;
    padding: 0 0;
    transition: all 0.5s;
    /* 투뎁스 안보이게 */
    height: 0;
    overflow: hidden;
    z-index: -1;
}

/* hover */
.gnb .dep1:hover .gnb_bg{
    padding: 2rem 0;
    height: auto;
}
.gnb .dep1:hover .gnb_bg:before{
    padding: 2rem 0;
}
/* main */
main .main_banner{
    height: 100vh;
    background: url(./images/child.jpg) no-repeat;
    background-size: cover;
    position: relative;

}
.main_banner ul{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}