@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li,ol,dt,dd,dl{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
}
a:link, a:visited{
    color: #333;
}
img{
    border: 0;
    vertical-align: top;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
}
