*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    font-size: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
}
.box1{
    background-color: lightblue;
  
}
.box2{
    background-color: lightgoldenrodyellow;

}
.box3{
    background-color: lightsalmon;

}
.box4{
    background-color: lightseagreen;

}
.box5{
    background-color: lightpink;

}