<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/07.css">
    
</head>
<body>
    <div class="wrapper">
        <div class="header-top"></div>
        <div class="header-nav"></div>
        <div class="banner"></div>
        <div class="content1"></div>
        <div class="content2"></div>
        <div class="content3"></div>
        <div class="footer-nav"></div>
        <div class="footer-info"></div>
    </div>
</body>
</html>