<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/07re.css">
</head>

<body>
    <div class="wrap">
        <header>
            <div class="header_top">
                <div class="container"><h2>header_top</h2></div>
            </div>
            <nav>
                <div class="container"><h2>nav</h2></div>
            </nav>
        </header>
        <!-- mainbanner, mainvisual, hero, showcase, -->
        <div class="hero_banner">
            <div class="container"><h2>hero_banner</h2></div>
        </div>
        <!--//.hero_banner -->
        <main>
            <section>
                <div class="container">
                    <h2>content1</h2>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2>content2</h2>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2>content3</h2>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer_nav">
                <div class="container"><h2>footer_nav</h2></div>
            </div>
            <div class="footer_info">
                <div class="container"><h2>footer_info</h2></div>
            </div>
        </footer>
    </div>
</body>

</html>