*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    transition: font-size 0.5s;
    font-size: 62.5%; 
    /* 폰트크기 10px로 맞추기 rem */
}
header{
    position: fixed;
    width: 100%;
    background-color: cornflowerblue;
    padding: 3rem 5rem; /* 30 50 */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a{
    font-size: 1.8rem;
    text-decoration: none;
}
nav a#logo{
    font-weight: bold;
    color: #000;
    font-size: 4rem;
    
}
nav ul a{
    color: #fff;
}
nav ul a:hover{
    border-bottom: 2px solid #fff;
}
#home{
    height: 100vh;
    display: grid;
    place-items: center;
}
#ham-menu{
    display: none;
}
nav ul.active{
    left: 0;
}
@media screen and (max-width : 991px)  {
    html{
        font-size: 56.25%;
    }
    header{
        padding: 2.2rem 5rem;
    }
}
@media screen and (max-width : 767px) {
    html{
        font-size: 50%; /* 8px */
    }
    #ham-menu{
        display: block;
        color: #fff;
    }
    nav a#logo, #ham-menu{
        font-size: 3.2rem;
    }
    nav ul{
        background-color: #000;
        position: fixed;
        left: -100vw;
        top: 69px;
        width: 100vw;
        height: calc(100vh - 69px); /* top 내려온 높이만큼 빼야 */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; /* 안먹는다면 높이 없는것 */
        transition: 1s;
        gap: 0;
    }
}
@media screen and (max-width : 575px) {
    html{
        font-size: 46.87%;
    }
    header{
        padding: 2rem 3rem;
    }
    nav ul{
        top: 62px;
        height: calc(100vh - 62px);
    }
}