.wrap{
    width: 100%;
}
.container{
    max-width: 1180px;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    height: inherit;
}
header{
    height: 100px;
    background-color: aliceblue;
}
.banner_wrap{
    height: 300px;
    background-color: lightblue;
}
.content_wrap{
    height: 500px;
    background-color: black;
}
footer{
    height: 100px;
    background-color: lightcoral;
}