.wrap{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background-color: rgba(255, 255, 255, .7);
    height: inherit;
}
/* 나중에 컨텐츠 들어오면 높이들 싹 빼야함! */
/* header */
header{
    height: 140px;
    background-color: var(--primary);
}
.header_top{
    height: 70px;
    background-color: rgb(74, 103, 128);
}
nav{
    height: 70px;
    background-color: rgb(182, 150, 109);
}
/* .hero_banner */
.hero_banner{
    height: 450px;
    background-color: lightblue;
}
/* main */
main{
    height: 950px;
    background-color: var(--secondary);
}
section:nth-child(1){
    height: 90px;
    background-color: lightsalmon;
}
section:nth-child(2){
    height: 480px;
    background-color: rgb(161, 117, 99);
}
section:nth-child(3){
    height: 380px;
    background-color: rgb(175, 59, 12);
}
/* footer */
footer{
    height: 220px;
    background-color: var(--primary);
}
.footer_nav{
    height: 60px;
    background-color: lightcyan;
}
.footer_info{
    height: 160px;
    background-color: lightseagreen;
}
.hero_banner{
    height: 450px;
    background-color: var(--background);
}
h2{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}