@charset "utf-8";

.wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* header */
header {
    width: 100%;
    max-width: 200px;
    height: 850px;
}

header .logo {
    width: 200px;
    height: 40px;
    margin-top: 4rem;
}

header .logo {
    line-height: 4rem;
    text-align: center;
}

header .logo a {
    color: var(--primary);
}

header nav {
    margin-top: 2rem;
}

header nav ul.depth1 li {
    position: relative;
    margin-bottom: 1rem;
}
header nav ul.depth1 li:not(:last-child) {
    margin-bottom: 1rem;
}
/* depth1,2 선택 */
header nav ul li a {
    display: block;
   
    color: var(--text1);
    transition: all 300ms;
    width: 20rem;
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
}

header nav ul li:hover>a{
    color: var(--background);
    background-color: var(--secondary);
}

header nav ul.depth2 {
    position: absolute;
    top: 0;
    right: -600px;
    width: 600px;
    /* left로 보내면 흔들림 */
    display: none;
}

header nav ul.depth2 li {
    display: inline;
}

header nav ul.depth2 li a {
    display: inline-block;
    width: 20%;
}
header::before{
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    height: 30rem;
    background-color: #ffffff8a;
    left: 200px;
    top: 9rem;
    transition: all 0.3s;
}
header.on:before{
    width: 100%;
}
header .spotmenu {
    margin-top: 9.8rem;
    display: flex;
    padding: 1.1rem 3.9rem 1.1rem 3.8rem;
    justify-content: space-around;
}
.spotmenu a{
    display: block;
    color: var(--primary);
}

/* main */
main {
    width: 100%;
    max-width: calc(100% - 200px);
    background-color: var(--text2);
}

/* quick */
main .quick{
position: fixed;
right: 2rem;
top: 2rem;
width: 8.5rem;
height: 22.5rem;
background: var(--background);
z-index: 2;
}

/* slide */
main .slide {
    width: 100%;
    height: 400px;
}
main .slide_wrap{
    /* 부모랑 똑같이~ */
    width: 100%;
    height: 400px;
    position: relative;
}
main .slide_wrap li{
    /* 100주면 부모 높이로~ */
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background:no-repeat center center/cover;
    transition: all 0.3s ease-in-out;
}
main .slide_wrap li.on{
    opacity: 1;
}
main .slide_wrap li.slide1{
    background-image: url(../images/banner_1.jpg);
    /* 부모한테 중복되는거 백그라운드 넣었으니, 얘는 백그라운드-이미지로 */
}
main .slide_wrap li.slide2{
    background-image: url(../images/banner_2.jpg);
}
main .slide_wrap li.slide3{
    background-image: url(../images/banner_3.jpg);
}
main .slide_wrap li .textbox{
    max-width: 50%;
    text-align: center;
    color: var(--background);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* %라 값 모를때 반절오게하기! */
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
}
main .slide_wrap li .textbox span{
    display: block;
    padding: 1rem;
}
main .banner {
    width: 100%;
    height: 200px;
    background-color: var(--secondary);
}

main .board {
    width: 100%;
    height: 250px;
    background-color: var(--text2);
}

footer {
    width: 100%;
    height: 120px;
    background-color: var(--primary);
}