@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */
* {
	box-sizing: border-box;
}

/* 우리가 붙이는 이름 */
:root {
	--primary: #2E8C03;
	--secondary: #F2BD1D;
	--text1: #333333;
	--text2: #666666;
	--background: #ffffff;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 62.5%;
	line-height: 1.75;
	font-weight: 400;
}
body {
	font-family: 'pretendard', sans-serif;
	color: var(--text1);
	font-size: 1.6rem;
}
a {
	text-decoration: none;
	color: var(--text1);
}
a:hover{
	text-decoration: underline;
}
h1, .h1{font-size: 3.1rem; font-weight: 700;}
h2, .h2{font-size: 2.5rem; font-weight: 600;}
h3, .h3{font-size: 2rem; font-weight: 500;}
.caption{font-size: 1.3rem; font-weight: 400;}
.link{font-size: 1.6rem; font-weight: 600;}