@charset "UTF-8";

/* 웹폰트 파일을 임포트하는 CSS */
/* 서체파일의 임포트 순서는 .eot(ie9이하-거의x)- .woff, .ttf, .svg */


@font-face {
    font-family: 'dream';
    src: url('./SCDream1.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream2.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream3.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream4.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream5.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream6.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream7.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream8.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream9.ttf');
    font-weight: 900;
}
body{
    font-family: 'dream', sans-serif;
}