#wrapper{
    /* 인라인그리드 잘 안씀~ : 컨테이너 내의 요소를 인라인레벨로 배치 */
    display: inline-grid;

    /* --시작-- */
    /* 부모요소 그리드 - 하위 그리드 공간에 놓이게 됨. */
    /* 그리드 : 컨테이너 내의 요소를 블록레벨로 배치 */
    display: grid;
    
    /* 컬럼s!! 한칸 띄고  */
    /* 고정폭 200px 컬럼 3개 */
    grid-template-columns: 200px 200px 200px;
    /* 고정높이 100px 행 2개 */
    grid-template-rows: 100px 100px;
}
/* fraction (분수) : 비율로 지정 */
#wrapper{
    /* 1:2:1 */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* repeat (반복횟수, 값) */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
}