#wrapper{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 
    "box1 box1 box1"
    "box2 box3 box3"
    "box2 . box4"
    ;
}
.box1{
    background-color: cornflowerblue;
    grid-area: box1;
}
.box2{
    background-color: lightcoral;
    grid-area: box2;
}
.box3{
    background-color: lightseagreen;
    grid-area: box3;
}
.box4{
    background-color: yellowgreen;
    grid-area: box4;
}