#wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(3, 200px);
}

.box1{
    background-color: rgb(160, 0, 0);
    
}
.box2{
    background-color: rgb(255, 129, 10);
}
.box3{
    background-color: rgb(218, 185, 0);
}
.box4{
    background-color: rgb(7, 204, 0);
    
    
}
.box5{
    background-color: aquamarine;
}
.box6{
    background-color: rgb(0, 2, 146);
}